body{
    width: 100%;
    margin: 0 auto;
    background-color: aquamarine;
}
section{
    position: relative;
    width: 100%;
    display: inline-block;
}
header{
    height: 10%;
    width: 100%;
    border-bottom: solid #7D7D7D 1px;
    position: fixed;
    z-index: 1;
}
header ul{
    text-align: right;
    margin-top: 2%;
    bottom: 10px;
}
header li{
    float: left;
    margin-left: 20px;
    margin-right: 0px;
    font-size: 30px;
    color: dimgray;
}